$base-color: #0B1F29;
$neutral-color: #fff;
$main-color: #DF9888;
$secondary-color: #88C0DF;
$thirdary-color: #88DFB0;
$accent-color: #DF88AD;

$standard-font-weight: 300;

$fbg-medium: "( min-width: 660px )";
$fbg-large: "( min-width: 1200px )";

@mixin main-font {
    font-family: 'Raleway', sans-serif;
    color: $neutral-color;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@function ratio($width, $height) {
    $ze: $height / $width;
    @return percentage($ze);
}

html {
    font-size: 16px;
}

body {
    background-color: $base-color;
    margin: 0;
    @include main-font;
    width: 100%;
}

.main-container {
    width: 100%;
    @include flex-column;
    align-items: center;
}

.page-container {
    @extend .main-container;
    margin-top: 120px;
}

h1,
h2,
h3,
.header-name {
    font-family: 'Cremona', serif;
    font-weight: 400;
    color: $neutral-color;

    a {
        @extend .header-name;
        text-decoration: none;
    }

}

h1 {
    font-size: 4rem;
}

h2,
.header-name {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.8rem;
    font-weight: 700;
}

p {
    @include main-font;
    font-size: 1rem;
    font-weight: $standard-font-weight;
}

.p-small {
    font-size: 0.75rem;
}

figcaption {
    font-size: 0.8rem;
}

section {
    padding: 24px;
    box-sizing: border-box;
}


.fullscreen-container {
    width: 100%;
    height: 100vh;
    @include flex-column;
    justify-content: center;

    h1,
    h2 {
        margin: 0;
    }

    p {
        max-width: 554px;
    }
}

.section-highlight {
    width: 90%;
    padding: 40px 24px;
    box-sizing: border-box;
    background-color: $base-color;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.31), 0px 0px 8px 4px rgba(136, 192, 223, 0.47);

    h2 {
        margin-top: 0px;
    }

    h4 {
        margin: 0;
    }
}

.margin-top-false {
    margin-top: 0px;
}

.margin-top-bottom {
    margin: 80px auto;
}

.margin-bottom {
    margin-bottom: 40px;
}



.gallery-main-container {
    margin: 120px 0px;

    h2 {
        text-align: center;
        width: 100%;
    }
}

.gallery-container {
    width: 100%;
    @include flex-column;
    justify-content: center;
    margin: 24px 0px;

    h3 {
        margin-left: 16px;
    }
}

.wrap-container {
    display: flex;
    flex-direction: row;
    overflow: auto;

    article {
        min-width: 74vw;
        @include flex-column;
        margin: 16px;

        figure {
            margin: 0px;
            img {
                width: 100%;
            }
        }

        h2 {
            text-align: left;
            width: fit-content;
            color: $main-color;
            margin-top: 16px;
            margin-bottom: 0px;
        }
    }
}

.wrap-medium-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    margin: 24px 0;

    img {
        width: 46%;
        border: $neutral-color solid 2px;
    }

    div {
        width: 46%;
        padding-bottom: ratio(1, 1);
        background-color: rgba($secondary-color, 0.2);
        border: $base-color solid 2px;
        padding-left: 16px;
        box-sizing: border-box;
    }
}


.wrap-small-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    margin: 24px 0;

    figure {
        width: 30%;
        position: relative;  
        margin: 0;
        @include flex-column;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        box-sizing: border-box;

        img {
            margin: 0;
            width: 80%;
        }

        figcaption {
            width: 100%;
            text-align: center;
        }
    }
}

.gallery-link,
.gallery-link:link,
.gallery-link:visited {
    color: $main-color;
    text-align: left;
    width: fit-content;
}

.gallery-link:hover {
    color: lighten($main-color, 10%);
}

.gallery-link:active {
    color: darken($main-color, 10%);
}



.container {
    width: 100%;
    @include flex-column;
    justify-content: center;
    margin-bottom: 32px;

    p {
        max-width: 554px;
    }

    .center {
        align-items: center;
    }
}


.cases-container {
    @extend .container;
    padding: 24px;
    box-sizing: border-box;

    figure {
        margin: 32px auto;
        width: 90%;
        img {
            width: 100%;
            margin: 8px 0px;
        }
    }

    li {
        list-style: none;
        margin-bottom: 8px;

        strong {
            color: $accent-color;
        }
    }
    
}

.highlight-p {
    color: $thirdary-color;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.case-img-background {
    background-color: rgba($secondary-color, 0.2);
    border: $neutral-color solid 2px;
    padding: 16px;
    box-sizing: border-box;

    figcaption {
        margin-top: 24px;
    }
    
}

.case-highlight {
    padding: 0;
    li {
        background-color: rgba($thirdary-color, 0.6);
        padding: 8px;
        box-sizing: border-box;
        width: fit-content;
    } 
}

.wrap-small-container-var {
    @extend .wrap-small-container;

    figure {
        width: 30%;
        justify-content: flex-start;
    }
}