$base-color: #0b1f29;
$neutral-color: #fff;
$main-color: #df9888;
$secondary-color: #88c0df;
$thirdary-color: #88dfb0;
$accent-color: #df88ad;

$standard-font-weight: 300;

$fbg-medium: "( min-width: 660px )";
$fbg-large: "( min-width: 1200px )";

@mixin main-font {
  font-family: "Raleway", sans-serif;
  color: $neutral-color;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin wrap-medium-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  margin: 24px 0;
}

@mixin absolute-elements {
  position: absolute;
  right: 0;
  z-index: -2;
}

@function ratio($width, $height) {
  $ze: $height / $width;
  @return percentage($ze);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: $base-color;
  margin: 0;
  @include main-font;
  width: 100%;
}

.main-container {
  width: 100%;
  @include flex-column;
  align-items: center;
  overflow: hidden;
  position: relative;

  @media #{ $fbg-medium } {
    padding: 0 10%;
    box-sizing: border-box;
  }

  @media #{ $fbg-large } {
    padding: 0 12%;
  }
}

.page-container {
  @extend .main-container;
  padding-top: 120px;
  box-sizing: border-box;

  @media #{ $fbg-medium } {
    box-sizing: border-box;
    overflow: visible;
  }
}

h1,
h2,
h3,
.header-name {
  font-family: "Cremona", serif;
  font-weight: 400;
  color: $neutral-color;

  a {
    @extend .header-name;
    text-decoration: none;
  }
}

h1 {
  font-size: 4rem;
}

h2,
.header-name {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.8rem;
  font-weight: 700;
}

p {
  @include main-font;
  font-size: 1rem;
  font-weight: $standard-font-weight;
  line-height: 1.375rem;
}

.p-small {
  font-size: 0.75rem;
}

figcaption {
  font-size: 0.8rem;
}

section {
  padding: 24px;
  box-sizing: border-box;
}

.fullscreen-container {
  width: 100%;
  height: 100vh;
  @include flex-column;
  justify-content: center;
  position: relative;

  h1,
  h2 {
    margin: 0;
  }

  p {
    max-width: 554px;
  }
}

.section-highlight {
  width: 90%;
  padding: 40px 24px;
  box-sizing: border-box;
  background-color: $base-color;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.31),
    0px 0px 8px 4px rgba(136, 192, 223, 0.47);

  h2 {
    margin-top: 0px;
  }

  h4 {
    margin: 0;
  }
}

.margin-top-false {
  margin-top: 0px;
}

.margin-top-bottom {
  margin: 80px auto;
}

.margin-bottom {
  margin-bottom: 40px;
}

.center-text {
  text-align: center;
  width: 100%;
}

.gallery-main-container {
  width: 100%;
  @include flex-column;
  align-items: center;
  margin: 120px 0px;

  h2 {
    text-align: center;
    width: 100%;
  }
}

.gallery-container {
  width: 100%;
  @include flex-column;
  justify-content: center;
  margin: 24px 0px;

  h3 {
    margin-left: 16px;
  }
}

.wrap-container {
  display: flex;
  flex-direction: row;
  overflow: auto;

  article {
    min-width: 74vw;
    @include flex-column;
    margin: 16px;

    figure {
      margin: 0px;
      position: relative;
      padding-bottom: ratio(16, 9);
      box-sizing: border-box;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }

    h2 {
      text-align: left;
      width: fit-content;
      color: $main-color;
      margin-top: 16px;
      margin-bottom: 0px;
    }
  }

  @media #{ $fbg-medium } {
    overflow: unset;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

    article {
      width: 42%;
      min-width: auto;
    }
  }
}

.wrap-medium-container {
  @include wrap-medium-container;

  img {
    width: 46%;
    object-fit: scale-down;
    border: $neutral-color solid 2px;
    box-sizing: border-box;
    height: fit-content;
  }

  div {
    width: 46%;
    background-color: rgba($secondary-color, 0.2);
    border: $base-color solid 2px;
    padding-left: 16px;
    box-sizing: border-box;
  }
}

.wrap-small-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  margin: 24px 0;

  figure {
    width: 30%;
    position: relative;
    margin: 0;
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;

    img {
      margin: 0;
      width: 80%;
      max-width: 180px;
    }

    figcaption {
      width: 100%;
      text-align: center;
      margin-top: 8px;
    }
  }
}

.gallery-link,
.gallery-link:link,
.gallery-link:visited {
  color: $main-color;
  text-align: left;
  width: fit-content;
}

.gallery-link:hover {
  color: lighten($main-color, 10%);
}

.gallery-link:active {
  color: darken($main-color, 10%);
}

.container {
  width: 100%;
  @include flex-column;
  justify-content: center;
  margin-bottom: 32px;

  p {
    max-width: 554px;
  }

  .center {
    align-items: center;
  }
}

.cases-container {
  @extend .container;
  padding: 24px;
  box-sizing: border-box;

  figure {
    margin: 32px auto;
    width: 90%;
    img {
      width: 100%;
      margin: 8px 0px;
    }
  }

  li {
    list-style: none;
    margin-bottom: 8px;

    strong {
      color: $accent-color;
    }
  }

  @media #{ $fbg-medium } {
    div {
      padding: 0 10%;

      p {
        max-width: 100%;
      }

      .mockups {
        @include wrap-medium-container;
        margin: 32px auto;

        img {
          width: 46%;
          object-fit: scale-down;
          box-sizing: border-box;
          height: fit-content;
          margin: 8px;
        }
      }
    }
  }
}

.highlight-p {
  color: $thirdary-color;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.case-img-background {
  background-color: rgba($secondary-color, 0.2);
  border: $neutral-color solid 2px;
  padding: 16px;
  box-sizing: border-box;
  max-width: 600px;

  figcaption {
    margin-top: 24px;
  }

  @media #{ $fbg-medium } {
    padding: 24px;
  }
}

.case-highlight-center {
  @include flex-column;
  align-items: center;
  margin: 16px 0;
  padding: 0;
}

.case-highlight {
  padding: 0;
  li {
    background-color: rgba($thirdary-color, 0.6);
    padding: 8px;
    box-sizing: border-box;
    width: fit-content;
    margin: 8px auto;
  }
}

.wrap-small-container-var {
  @extend .wrap-small-container;

  figure {
    width: 30%;
    justify-content: flex-start;
  }
  @media #{ $fbg-medium } {
    margin: 32px auto;
  }
}

.about-container {
  @media #{ $fbg-medium } {
    flex-direction: row;

    div {
      order: 2;
      padding: 32px 16px;
    }

    .wrap-medium-container {
      order: 1;
      align-content: center;
      min-width: 260px;
      max-width: 400px;

      img {
        background-color: $neutral-color;
      }
    }
  }
}

.circle-big,
.circle-filled,
.circle-small,
.squares-group {
  @include absolute-elements;
}

.circle-filled,
.circle-small {
  width: 132px;
  height: 70px;
  border-radius: 50%;
  transform: translate(34px, 178px);

  @media #{ $fbg-medium } {
    width: 272px;
    height: 132px;
  }
}

.circle-big,
.circle-small {
  border: $neutral-color dotted 2px;
}

.circle-big {
  width: 474px;
  height: 474px;
  border-radius: 50%;
  top: -80px;
  right: -180px;
  animation: filling 4s ease-in-out infinite alternate;

  @media #{ $fbg-medium } {
    top: -20px;
  }

  @media #{ $fbg-medium } {
    right: -280px;
  }
}

.circle-filled {
  background-color: $thirdary-color;
  transform: translate(44px, 196px) rotate(35deg);
  @media #{ $fbg-medium } {
    transform: translate(144px, 56px) rotate(35deg);
  }
}

.circle-small {
  animation: rotate 40s infinite alternate;
}

.square {
  width: 32px;
  height: 32px;
  position: relative;
  background-color: $accent-color;
  //margin: 35px 0;
  animation: squares 3s linear infinite alternate;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border: #000 solid 1px;
    position: absolute;
    display: block;
    transform: translate(-16px, -16px);
  }
}

.squares-g1 {
  transform: rotate(50deg);
  top: 0;

  @media #{ $fbg-medium } {
    top: 60px;
    right: 130px;
  }
}

.squares-g2 {
  transform: rotate(-80deg) translateY(-144px);
  bottom: -60px;

  @media #{ $fbg-medium } {
    transform: rotate(-80deg) translateY(-284px);
  }
}

@keyframes squares {
  0% {
    margin: 16px 0;
  }
  100% {
    margin: 32px 0;
  }
}

@media #{ $fbg-medium } {
  @keyframes squares {
    0% {
      margin: 16px 0;
    }
    100% {
      margin: 54px 0;
    }
  }
}

@keyframes rotate {
  0% {
    transform: translate(34px, 178px) rotate(0deg);
  }
  100% {
    transform: translate(34px, 178px) rotate(359deg);
  }
}

@media #{ $fbg-medium } {
  @keyframes rotate {
    0% {
      transform: translate(124px, 98px) rotate(0deg);
    }
    100% {
      transform: translate(124px, 98px) rotate(359deg);
    }
  }
}

@keyframes filling {
  0% {
    background-color: rgba($secondary-color, 0);
  }
  100% {
    background-color: rgba($secondary-color, 0.2);
  }
}

.ani-contact {
  @include absolute-elements;

  .small-group {
    transform: translate(-480px, -500px);
    .circle-filled {
      transform: rotate(-35deg) translate(-20px, 220px);
    }
  }

  .squares-g2 {
    transform: rotate(-80deg) translate(80px, -144px);
  }

  @media #{ $fbg-medium } {
    .small-group {
      transform: translate(-680px, -470px);
    }

    .squares-g2 {
      transform: rotate(-80deg) translate(80px, -244px);
    }
  }

  @media #{ $fbg-large } {
    .small-group {
      transform: translate(-880px, -490px);
    }
  }
}
