.email-btn {
    border: 2px solid $neutral-color;
    height: 48px;
    width: 192px;
    color: $neutral-color;
    box-sizing: border-box;
    
    p {
        width: 100%;
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.25rem;
        margin: 13px 0;
    }

    div {
        height: 46px;
        width: 190px;
        background-color: $main-color;
        position: absolute;
        transform: translate(4px, -43px);
        z-index: -1;
        transition: 0.1s ease-in;
    }
}

.email-btn:hover {
    div{
        transform: translate(8px, -39px);
        background-color: lighten($main-color, 10%);
    }
}

.email-btn:active {
    div{
        transform: translate(0px, -48px);
        background-color: darken($main-color, 15%);
    }
}

.email-btn:visited {
    color: $neutral-color;
}

.grid-row {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 16px;

    .grid-row-item {
        justify-self: stretch;
        border: 2px solid $neutral-color;
        padding: 0 24px;
        box-sizing: border-box;
        color: $neutral-color;
        text-decoration: none;
        transition: 0.5s ease-in;

        h3 {
            text-decoration: underline;
        }
    }
}

.grid-row-item:hover {
    background-color: $secondary-color;
}

.grid-row-item:active {
    background-color: darken($secondary-color, 15%);
}

.grid-row-item:visited {
    color: $neutral-color;
}