.header-name {
    z-index: 10;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $base-color;
    width: 100%;
    height: 64px;
    padding: 0 16px;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    top: 0;
    border-bottom: 1px solid $neutral-color;
    box-shadow: 0px 4px 8px 0px $secondary-color, 0px 2px 4px 0px $neutral-color;

    @media #{ $fbg-medium } {
        padding: 0 44px;
    }

    @media #{ $fbg-large } {
        padding: 0 88px;
    }
}

nav {
    display: flex;
    align-items: center;
    ul {
        width: 100%;
        height: calc(100vh - 64px);
        list-style: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: space-around;
        align-items: center;
        top: 64px;
        right: 0;
        text-align: center;
        margin: 0;
        padding: 16px 0;
        box-sizing: border-box;
        background-color: $base-color;
        transform: translateY( calc(-100vh - 64px));
        z-index: 9;
        transition: transform 0.5s ease-in;
        li {
            opacity: 0;
            a {
                color: $neutral-color;
                font-size: 1.3rem;
                font-weight: $standard-font-weight;
            }

            a:hover {
                color: lighten($secondary-color, 10%);
            }
    
            a:active {
                color: darken($secondary-color, 15%);
            }
        }
    }

    @media #{ $fbg-medium } {
        align-items: unset;

        ul {
            height: 16px;
            flex-direction: row;
            position: unset;
            justify-content: space-between;
            text-align: center;
            background-color: unset;
            transform: translateY(0);
            z-index: 10;
            li {
                opacity: 1;
                margin-left: 48px;

                a {
                    font-size: 0.875rem;
                }
            }
        }
    }
}

.burger {
    margin: 2px;
    display: flex;
    flex-flow: row wrap;
    width: 22px;
    align-content: space-between;
    height: 20px;
    cursor: pointer;
    z-index: 10;
    div {
        width: 22px;
        height: 2px;
        background-color: $neutral-color;
        transition: all 0.3s ease;
    }

    @media #{ $fbg-medium } {
        display: none;
    }
}

.ul-active {
    transform: translateY(0);
}

@keyframes ulLinkFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.toggle .burger-line1 {
    transform: rotate(-45deg) translate(-4px, 8px);
}

.toggle .burger-line2 {
    opacity: 0;
}

.toggle .burger-line3 {
    transform: rotate(45deg) translate(-4px, -8px);
}



footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-top: 1px solid $neutral-color;
    padding: 32px;
    box-sizing: border-box;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            a {
                color: $neutral-color;
                text-decoration: none;
            }
        }
    }
    

    @media #{ $fbg-medium } {
        
        padding: 32px 44px;
        .contacts {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }

    @media #{ $fbg-large } {
        padding: 32px 88px;
    }
}

.social {
    padding: 0;
    
    li {
        list-style: none;
        margin: 8px 0;

        a,
        a:visited {
        color: $secondary-color;
        }

        a:hover {
            color: lighten($secondary-color, 10%);
        }

        a:active {
            color: darken($secondary-color, 15%);
        }

    }

    @media #{ $fbg-medium } {
        li {
            margin: 8px 8px;
            display: inline-block;
        }
    }
}