<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:type" content="portfolio" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="https://i.postimg.cc/GtVhGDcX/ogimage.jpg" />

    <link
      rel="icon"
      type="image/png"
      href="https://i.postimg.cc/mc8jVDH4/favicon-16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://i.postimg.cc/PLtKmZNK/favicon-32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://i.postimg.cc/tsd2ZDRY/favicon-96.png"
      sizes="96x96"
    />


    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  </head>
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}

    <script src="{{ "/assets/js/nav-ul.js" | relative_url }}""></script>
  </body>
</html>
